.main {

    /* Set Gradient Color */

    background: linear-gradient(220deg, #175d69 50%, #301246 100%);

    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

header {


    padding-top: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

/* Logo Style */
#logo img {
    margin-top: 5px;
    margin-left: 8px;
    width: 100px;
    height: 100px;
    float: left;
}



.menu>ul {

    left: 0;
    display: block;

    margin: 10px 10px 0 0;


}



.menu ul li {
    display: block;
    float: left;
    margin: 0 20px;

}